#swiperPopup {
    z-index: 999; /* Make sure this is higher than other elements */
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 1000; /* Ensure buttons are above other content */
}

.swiper-button-next {
    right: 7%;
    position: absolute;
    color: #ffffff !important;
    background-color: rgba(0, 0, 0, 0.5); /* พื้นหลังสีดำโปร่งแสง */
    border-radius: 50%; /* ทำให้ปุ่มเป็นวงกลม */
    font-size: 25px !important;
    width: 50px !important;
    height: 50px !important;
    font-weight: 800 !important;
}

.swiper-button-prev {
    left: 7%;
    position: absolute;
    color: #ffffff !important;
    background-color: rgba(0, 0, 0, 0.5); /* พื้นหลังสีดำโปร่งแสง */
    border-radius: 50%; /* ทำให้ปุ่มเป็นวงกลม */
    font-size: 25px !important;
    width: 50px !important;
    height: 50px !important;
    font-weight: 800 !important;
}

.swiper-button-next:hover ,.swiper-button-prev:hover {
    color: #FF864E !important;
    border: 4px solid #ffffff !important;
    font-size: 20px !important;
}